*{
  padding:0;
  margin:0;
  font-family:inherit;
}
.All{
  color:white;
  height: 1078px;
  width: 100%;
  background-color:#131313;
        }
.AllChats{
  color:white;
  border: solid 1px #2f2f2f;
  height: 1078px;
  width:341px;
  float:left;
}
.Chat{
  color:white;
  border: solid 1px #2f2f2f;
  height: 1078px;
  width:1558px;
  float:right;
}
#pfp{

}