<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Chat</title>
   <link href="../../../static/chat.css" rel="stylesheet" />
</head>
<body>
    <div class = "All">
      <div class="AllChats">
        <div class="header">
          <img src="../../../static/img/portfolio/cake.png" alt="pfp" id="pfp" style="position:relative; top:30px; left:20px;">
          <center><p>Chats</p></center>
          <br>
          <hr style="color:#2f2f2f;">
        </div>
        <br>
        <div class="Chats">
          <div class="people">
          <img src="../../../static/img/portfolio/cake.png" class="person" id="img" alt="pfp" width="48px" height="48px">
          <p class="person" id="name">hello</p>
          </div>
          <div class="people">
          <img src="../../../static/img/portfolio/cake.png" class="person" id="img" alt="pfp" width="48px" height="48px">
          <p class="person" id="name">it's</p>
          </div>
          <div class="people">
          <img src="../../../static/img/portfolio/cake.png" class="person" id="img" alt="pfp" width="48px" height="48px">
          <p class="person" id="name">me</p>
          </div>
          <div class="people">
          <img src="../../../static/img/portfolio/cake.png" class="person" id="img" alt="pfp" width="48px" height="48px">
          <p class="person" id="name">Yoshi</p>
          </div>
        </div>
      </div>
      <div class="Chat">

      </div>
    </div>
</body>
</html>
