<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HomePage</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/popup.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/master.css">
</head>
<body>
<h1>{{fullname}}</h1>
<h1>{{username}}</h1>
<h1>{{bio}}</h1>
<a href="/add_post"><button>Add Post</button></a>
<h1>Your Posts</h1>

{%for post in posts%}
	{%if posts[post]['uid'] == uid%}
		<h1>{{posts[post]['title']}}</h1>
		<h1>{{posts[post]['imglink']}}</h1>
		<h1>{{posts[post]['text']}}</h1x>
	{%endif%}
{%endfor%}


<h2>Modal Signup Form</h2>

<button id="button" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add friends</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'; hide();" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/home" method="POST">
    <div class="container" style="height:300px;">
      <div class="search">
      <input type="text" name="search" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <span><img src="../static/img/search.png" width="30px" height="30px" style="margin: 3px;"></span>
		</button>
		{%for i in allusers%}
			{%if fuser == allusers[i]['username']%}
				{%if hello == 1%}
				<div class="friend">
				<img src="../static/img/user.png" style="height: 60px; width: 60px; margin: 15px; border-radius: 50%;">


				<form action="/add_friend" method="POST">
				<button style="position: relative; float: right; margin: 15px;" type="submit" name="hi" value="hi" id="addfriend">Add Friend</button>
				</form>
				</form>
				<p style="color: ">{{fuser}}</p>
				</div>
				{%endif%}
			{%endif%}
		{%endfor%}
   	</div>
      <div class="clearfix">

      	{%for post in posts%}

                <h1>{{posts[post]['title']}}</h1>
                <h1>{{posts[post]['imglink']}}</h1>
                <h1>{{posts[post]['text']}}</h1x>
        {%endfor%}

      </div>
    </div>
  </form>
</div>
<a href="{{url_for('signout')}}"><button>Signout</button></a>
<a href="{{url_for('addfriend')}}"><button>add friends</button></a>
</body>
</html>